//Declaração de variaveis

@import 'variaveis';


@mixin titulo($tipo) {
    color: $primary;
    font-family: 'kill';        
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 0 10px 0;

    @if($tipo == 'title-2'){
        font-size: 2.4rem;
    }@else if($tipo == 'title-3'){
        font-size: 2.1rem;
    }

}


@mixin flex($direction, $align-items, $justify-content){
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin  gradient() {
    background-image: linear-gradient($primary,$primaryDark);
}



@font-face {
    font-family: 'Kill';
    src: url(../font/KillTheLights.ttf);
}

html{
    font-size: 10px;
}

body{
    margin: 0;
    background-color: $light;
    font-family: Arial, Helvetica, sans-serif;

}

p,a{
    font-size: 1.6rem;
}

p{
    color: $text;

}

.row{

    --bs-gutter-x: 2.4rem;
}
img{
    max-width: 100%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: $text;
    border: 1px solid $text;
    border-radius: 5px;
    padding: 6px 16px;

    &:hover{
        background-color: $primaryDark;
        border: 1px solid ;
        color: white;
    }
}

.divisor{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}


.bg-primary{
    background-color: $primary;
}

.header{
    background-image: linear-gradient($primary,$primaryDark);
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu{

        margin-top: 20px;

        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;

            li{
                display: inline-block;
                &:hover .sub-menu{
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(0);
                }



                a{
                    color: white;
                    text-decoration: none;
                    padding: 0 30px;
                    font-family: "kill";
                    text-transform: uppercase;


                    &:hover{
                        text-decoration: underline  ;
                    }

                    &:active{
                        color: #888888;
                    }

                }

                .sub-menu{
                    
                    padding-top: 24px;
                    position: absolute;
                    z-index: 2;
                    opacity: 0;
                    pointer-events: none;
                    transition: 0.3s ease-out;
                    transform: translateY(20px);

                    li{
                        display: block;
                        text-align: left;

                        a{
                            display: block;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            background-color: $primaryDark;

                            &:hover{
                                background-color: $primary;
                            }
                        }
                    }


                }
            }
        }

    }
}

.banner{
    text-align: center;
    position: relative;

   img, video{
    width: 100%;
    display: block;
   }

   h1{
    color: white;
    font-size: 4rem;
    font-family: "Kill";
    font-weight: 400;
    margin: 0 ;
   }

   p{
    color: white;
   }


   .overlay-video{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.266);
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
   }

   a{
    color: white;
    text-decoration: none;
    display: inline-block;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.5s;

    &:hover{
        background-color: rgba(0, 0, 0, 0.46);
    }
   }
}


.s-presentation{
    margin-top: 50px;
    text-align: center;

    h2{
        @include titulo('title-2');
    }

}

.s-gallery{

    h3{

        @include titulo('title-3');
    }

    img{
        transition: 0.3s;
        opacity: 0.7;
        position: relative;


        &:hover{
            opacity: 1;
            transform: scale(1.1);
            z-index: 1;
            filter: drop-shadow(3px 3px 5px black);

        }

    }
}
.comment{

    padding: 50px 0;
    margin-top:50px;
    text-align: center;
    
    p{
        color: white;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.footer{

    background-image: linear-gradient($primary,$primaryDark);
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 15px 0;
    text-transform: uppercase;

}